// Fonts
$-f-mono: 'DM Mono', monospace;
$-f-consolas: 'Consolas', monospace;

// Colors
$-c-black: hsl(0, 0%, 0%);
$-c-gray: hsl(224, 11%, 60%);
$-c-white: hsl(0, 0%, 100%);
$-c-background-dark: hsl(222, 40%, 13%);
$-c-card-dark: hsl(224, 40%, 20%);
$-c-blue: hsl(211, 100%, 50%);